[submodule "platforms/rp2040/lib/pico-sdk"]
	path = platforms/rp2040/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "platforms/rp2040/lib/tinyusb"]
	path = platforms/rp2040/lib/tinyusb
	url = https://github.com/liamfraser/tinyusb.git
[submodule "3rdparty/Pico-PIO-USB"]
	path = platforms/rp2040/lib/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "3rdparty/pico-extras"]
	path = platforms/rp2040/lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
